/**************** Hero Section  ****************/

.hero-left-col .elementor-widget-wrap .elementor-background-overlay::before{
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  top:0;
  left:auto;
  right: 100%;
  background-color: inherit;
}
.hero-left-col .elementor-widget-wrap .elementor-background-overlay::after{
  content: '';
  position: absolute;
  width: 100px;
  height: 660px;
  top:-10px;
  left: 100%;
  background-color: inherit;
  border-radius: 0 100% 100% 0;
  box-shadow: 22px 1px 0px 4px rgb(255 255 255 / 47%)
}

/**************** End Hero Section  ****************/



/*------------- table ----------------*/


.top-table-wrapper .container .table-container{
  border: 1px solid #E1E7EB;
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
}
/* #E1E7EB */
.contact-enroll-wrapper{
  background-color: var(--secondary-color);
  padding: 20px 36px;
  display: flex;
  align-items: center;
  margin-top: -15px;
}
.contact-enroll-wrapper .content {
  width: calc(100% - 288px);

}

.contact-enroll-wrapper .content p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  margin-right: 30px;
}
.contact-enroll-wrapper  .contact-enroll-btn{
  max-width: 288px;
  width: 100%;
}
.contact-enroll-wrapper  .contact-enroll-btn:hover{
  background-color: #E1E7EB;
  color: var(--secondary-color);
}
table{
  min-width: 100%;
  border-collapse: collapse;
  /* border: 1px solid #E1E7EB;  */
  border-radius: 10px;
}


thead > tr >th, .table-container h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #192B35;
  padding: 24px 30px;
  text-align: center;
}

tbody .col-left{
  width: 20%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #1B2C36;
  padding-left: 36px;

}

tbody .col-right{
  /* width: 100%; */
  padding: 0 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #1B2C36;
}
table td{
  border-top: 1px solid #E1E7EB;
  border-bottom: 1px solid #E1E7EB;
  padding: 16px 0;
  border-left: none;
  border-right: none;
}

/*tab slider*/
.tabsldier-section-wrapper{
  padding: 100px 0;
}
.tabsldier-section-wrapper .container .tab-slider-heading{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  max-width: 770px;
  margin-bottom: 40px;
}
table tbody>tr:nth-child(odd)>td, table tbody>tr:nth-child(odd)>th,table tbody>tr:nth-child(even)>td, table tbody>tr:nth-child(even)>th {
  background: none;
  vertical-align: middle;
}


/********************* card section *************/
.card-section-wrapper .elementor-container .elementor-column .container .elementor-column .elementor-widget-wrap .elementor-icon-box-wrapper .elementor-icon-box-content{
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/********************* End card section *************/


/****************  Accordines section    ******/
.faq-accordines .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-tab-title{
  box-shadow:0px 4px 10px rgb(0 0 0 / 10%);
  margin-bottom: 10px;
  border-radius: 8px;
}
.faq-accordines .elementor-widget-container .elementor-accordion .elementor-accordion-item  .elementor-tab-title.elementor-active{
  background-color: #172933;
}
/**************** End Accordines section    ******/



/******************* progress bar *************/
.progress-bar1 .elementor-widget-container .elementor-title{
  position: relative;
  left: 60px;
  bottom: 5px
}



/*tab slider*/
.tabsldier-section-wrapper{
  padding: 100px 0;
}
.tabsldier-section-wrapper .container .tab-slider-heading{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  max-width: 770px;
  margin-bottom: 40px;
}

/* <!---------------- Tab Slider container ------------------> */
.tab-slider-wrapper{
  min-height: 400px;
  position: relative;
}
.tab-slider-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-slider-wrapper  .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab-slider-wrapper  .swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.tab-slider-wrapper .swiper-slide {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color:#172933;
  text-align: left;
}
.tab-slider-wrapper .mySwiper {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 1px;
}

.tab-slider-wrapper .mySwiper .swiper-slide {
  height: 100%;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.tab-slider-wrapper .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.tab-slider-wrapper .swiper-slide img {
  object-fit: cover;
}

 /* Tabs Next Prev Arrow */
 .tab-slider-wrapper .mySwiper .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled,     .tab-slider-wrapper  .swiper-button-prev.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0
  }
  .tab-slider-wrapper .mySwiper .swiper-button-prev.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0
  }   
  .tab-slider-wrapper .mySwiper .swiper-button-next, .swiper-rtl .swiper-button-prev{
      right: 0;
  }
  .tab-slider-wrapper .mySwiper .swiper-button-prev, .swiper-rtl .swiper-button-next{
      left: 0;
  }
  .tab-slider-wrapper .mySwiper .swiper-button-prev, .tab-slider-wrapper .mySwiper .swiper-button-next{
      background: linear-gradient(90deg,#fff 55%,rgba(30,30,47,0));
      height: 100%;
      margin-top: 0;
      top: 0;
      transition: all .3s;
      width: 80px;
      right: -66px!important;
  
  }
  .tab-slider-wrapper .mySwiper .swiper-button-prev{
      left: 0;
  }
  .tab-slider-wrapper .mySwiper .swiper-button-next{
      right:0;
  }
  
  .tab-slider-wrapper .mySwiper .swiper-button-prev::after, .tab-slider-wrapper .mySwiper .swiper-button-next::after{
      font-size: 30px;
      color: var(--primary);
      position: relative;
  }
  .tab-slider-wrapper .mySwiper .swiper-button-prev::after{
      left: -29px;
  }
  .tab-slider-wrapper .mySwiper .swiper-button-next::after{
      right: -30px;
  }


/*Tab slider 2 or images Slider*/
.tab-slider-wrapper .mySwiper2 {
  width: 100%;
  height: auto;
  padding: 0;
  position: relative;
}
.tab-slider-wrapper .mySwiper2 .swiper-slide .TS-imgage-wrapper{
      /* max-width:270px; */
      width: 100%;
      /* max-height:160px; */
      height: 100%;
  }

  
.tab-slider-wrapper .mySwiper2 .swiper-slide .TS-imgage-wrapper img{
  display: block;
  object-fit: cover;
}

  .tab-slider-wrapper .mySwiper2 .swiper-slide{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction:column;
  }
  .tab-slider-wrapper .mySwiper2 .swiper-slide .content {
      margin-top: 15px;
  }
  .tab-slider-wrapper .mySwiper2 .swiper-slide .content h3{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      color: var(--secondary-color);
      text-transform: capitalize;

  }
  .tab-slider-wrapper .mySwiper2 .swiper-button-next::after {
    display: none;
  }

   .tab-slider-wrapper .mySwiper2 .swiper-button-next {
      position: absolute;
      top: 30%;
      transform: translateY(-30%);
      background:linear-gradient(90deg,rgba(30,30,47,0),#fff)!important;
      height: 100%;
      width: 120px;
      right: 0;
     
  }

  .tab-slider-wrapper .mySwiper2  .swiper-button-prev{
      position: absolute;
      top: 30%;
      transform: translateY(-30%);
      background:linear-gradient(90deg,#fff, rgba(30,30,47,0))!important;
      height: 100%;
      width: 100px;
      /* right: 0; */
      left: -15px;
  }

  .tab-slider-wrapper .mySwiper2 .swiper-button-disabled{
      opacity: 0
  }
  .tab-slider-wrapper .mySwiper2 .swiper-button-next::after,  .tab-slider-wrapper .mySwiper2 .swiper-button-prev::after{
      position: absolute;
      font-size:0px;
      border: 2px solid var(--primary);
      padding: 12px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--primary);
      background-color:#FFFFFF;
      padding: 23px;
      top:28%;
  }
  .tab-slider-wrapper .mySwiper2 .swiper-button-next::after{
      content: url('http://skt-college.local/wp-content/uploads/2022/09/tab-sliderTab-right-arrow.png');
      right: 22px;
      
  }
 .tab-slider-wrapper .mySwiper2 .swiper-button-prev::after{
  content: url('http://skt-college.local/wp-content/uploads/2022/09/tab-sliderTab-left-arrow.png');
  left: 22px;

 }

 /* pagination of tab slider */

.tab-slider-wrapper{
  position: relative;
}
.tab-slider-wrapper .swiper-pagination{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.tab-slider-wrapper .swiper-pagination .swiper-pagination-bullet{
  width: 24px;
  height: 6px;
  border-radius: 0;
  background: #39181C;
  opacity: 0.3;
  transition: 0.3s all;
}
.tab-slider-wrapper .swiper-pagination .swiper-pagination-bullet:not(:last-child){
  margin-right: 10px;
}

.tab-slider-wrapper .swiper-pagination  .swiper-pagination-bullet-active{
  width: 140px;
  opacity: 1;
  background-color: var(--primary);
} 






/* <!------------ bottom slider ----------> */


/* <!------------ bottom slider ----------> */
.bottom-slider{
  z-index: 1;
}
.bottom-slider .bottomSwiper{
  padding: 0 120px;
  position: relative;

}
.bottom-slider .bottomSwiper::after{
  content: '';
  width:106px;
  height: 100%;
  position: absolute;
  right: 0;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 1;
  top: 0;
}
.bottom-slider .bottomSwiper::before{
  content: '';
  width:106px;
  height: 100%;
  position: absolute;
  left: 0;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 2;
  top: 0;
}

.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 245px;
}
.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide .inner-slider{
  width: 100%;
  height: 100%;
  position: relative;
}
.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide .inner-slider .slider-img-wrapper{
  width: 100%;
  height: 100%;
}
.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide .inner-slider .slider-img-wrapper img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide .inner-slider .slider-overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  opacity: 0;
  transition: 0.5s all;
}
.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide:hover .slider-overlay{
  opacity: 1;
}

.bottom-slider .bottomSwiper .swiper-wrapper .swiper-slide .inner-slider .slider-overlay .slider-heading{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  max-width: 274px;
  transition: 0.3s all;
}
.slider-overlay .slider-heading:hover{
  text-decoration: underline solid white 1px;
}

.bottom-slider .swiper-button-next::after, .bottom-slider .swiper-button-prev::after{
  display: none;
}
.bottomslider-icon-wrapper{
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  transition: 0.3s all;
}
.bottomslider-icon-wrapper:hover{
  background-color: var(--primary);
}

.bottomslider-icon-wrapper img{
  object-fit: contain;
}




@media screen and (max-width:1024px){
  .tab-slider-wrapper .swiper-pagination{
    display: none;
  }
}

@media screen and (max-width:820px){
  tbody .col-left{
      width: 30%;
  }
}

@media screen and (max-width:767px){
 
  tbody .col-left{
      width: 50%;
  }
  tbody .col-right{
      font-size: 14px;
  }
  thead > tr >th, .table-container h2{
      text-align: left;
  }

/*tab Slider*/
.tabsldier-section-wrapper{
  padding: 50px 0;
  overflow: hidden;
}
.tabsldier-section-wrapper .container .tab-slider-heading{
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 24px;
}


.tab-slider-wrapper .mySwiper2 .swiper-button-next, .tab-slider-wrapper .mySwiper2 .swiper-button-prev{
  background: linear-gradient(90deg,rgba(30,30,47,0),#fff0)!important;
}

.tab-slider-wrapper .mySwiper2 .swiper-button-next::after, .tab-slider-wrapper .mySwiper2 .swiper-button-prev::after{
  font-size: 20px;
}
.tab-slider-wrapper .mySwiper2 .swiper-button-next::after, .tab-slider-wrapper .mySwiper2 .swiper-button-prev::after{
  width: 15px;
  height: 15px;
}

.tab-slider-wrapper .mySwiper .swiper-button-prev, .tab-slider-wrapper .mySwiper .swiper-button-next{
  display: none;
}
.tab-slider-wrapper .swiper-pagination .swiper-pagination-bullet{
  width: 24px;
}

.tab-slider-wrapper .swiper-pagination .swiper-pagination-bullet-active{
  width: 98px;
}

.tab-slider-wrapper .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 5px;
}

/* Bottom slider*/
    .bottom-slider .bottomSwiper::after, .bottom-slider .bottomSwiper::before{
        display: none;
    }
    .bottom-slider .bottomSwiper{
        padding: 0;
    }
    .bottom-slider{
        padding: 0 15px;
    }

/*table section bottom*/
.contact-enroll-wrapper{
  align-items: flex-start;
  flex-direction: column;
}
.contact-enroll-wrapper .content{
  width: 100%;
}

.contact-enroll-wrapper .content p{
  margin-right: 0;
  margin-bottom: 25px;
}

/** hero overlay ****************/
.elementor-5 .elementor-element.elementor-element-749e4ac > .elementor-element-populated > .elementor-background-overlay{
  opacity: 0.9;
}
}
@media screen and (max-width:420px){
  thead > tr >th, .table-container h2{
      padding: 24px 15px;
  }
  tbody .col-left{
      padding-left: 15px;
  }
  tbody .col-right{
      padding: 0 14px;
  }
  .three-grid-image .elementor-widget-container img{
    height: 260px!important;
}
}
